

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Smooth scrolling for the whole app */
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}
